<div class="welcome-text"><span>{{ text }}</span></div>
<div class="form-wrapper">{{ form }}</div>
<div class = "cats-table-wrapper">
  <h1> Your Cats: </h1>
  <div class = "header_table">
    <div class = "header_image"> {{ header_table['cat_image'] }} </div>
    <div class = "header_name">  {{ header_table['cat_name'] }} </div>
    <div class = "header_email"> {{ header_table['email'] }} </div>
    <div class = "header_date">  {{ header_table['date_created'] }} </div>
  </div>
    {% for cat in cats %}
      <div class="cats-fields-container">
        <div class="fields">
          <div class="cat_image_container">{{ cat['cat_image'] }}</div>
          <div class="cat_name"> {{ cat['cat_name'] }}</div>
          <div class="email"> {{ cat['email'] }}</div>
          <div class="date_created">{{ cat['date_created'] }}</div>
        </div>
        <div class="button-container">
          {% if 'administrator' in user.getroles %}
            <div class="cat-actions">
              <a href="/koval/cats/{{cat['id']}}/delete"  class="use-ajax"  data-dialog-options="{&quot;classes&quot;:{&quot;ui-dialog&quot;: &quot;ui-corner-all  my-modal-delete&quot;}}" data-dialog-type="modal"> {{ cat['delete'] }}</a>
            </div>
            <div class = "cat-actions-edit">
              <a href="/koval/cats/{{ cat['id'] }}/edit" class="use-ajax" data-dialog-options="{&quot;classes&quot;:{&quot;ui-dialog&quot;: &quot;ui-corner-all  my-modal-edit&quot;}}" data-dialog-type="modal">{{ cat['edit'] }}</a>
            </div>
          {% endif %}
        </div>
      </div>
{% endfor %}
</div>

</div>
<div id="overlay">
  <span id="overlay_close" class="close">x</span>
</div>
<div id="window_site"></div>

